    <!--Navbar-->
    <nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar">

        <!-- Collapse button-->
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
            <i class="fa fa-bars"></i>
        </button>
            <!--Collapse content-->
            <div class="collapse navbar-toggleable-xs" id="collapseEx">
                <!--Navbar Brand-->
                <img src="../static/img/logo-masthead-large.png" class="navbar-brand" href="index.html" target="_blank" style="width:300px;height:60px;" "/>
            </div>
    </nav>
    <!--/.Navbar-->
    
    <!--Content-->
    <div class="container">
        <div class="row">

			<div class="login">
           <!--First columnn-->
            <div class="col-md-6">
                <!--Card-->
                <div class="card">
	
					<div class="container">
                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">Log-In</h4>
                        <!--Text-->
		                <forms>
		                    <div class="form-group">
		                        <label for="username"> Enter username: </label><br/>
		                        <input type="username" class="form-control" id="username">
		                    </div>
		                    <div class="form-group">
		                        <label for="password"> Enter password: </label>
		                        <input type="password" class="form-control" id="password">
		                    </div>
		                </forms>
		                </div>
						<a href="../admin/Janel" class="btn btn-teal">LOG-IN</a><br/>
                        <a href="#/login" class="btn btn-teal" data-toggle="modal" data-target=".bs-example-modal-sm">REGISTER</a> 

                        <!-- MODAL FOR SIGN UP -->
                        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content" style=" height:50%; width:60%; margin-left: 20%; margin-right: 20%;">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title card-title" id="gridSystemModalLabel" style="font-size:16px; text-align:left;">Register an Account</h4>
                              </div>
                              <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form name="userForm" ng-submit="submitForm()" novalidate>
                                            <div class="form-group">
                                                <label for="name">Full Name</label>
                                                <input style="text-align:center; font-size:12px;" type="text" class="form-control" name="name" id="name" placeholder="Jan Crissel de Ramos" required/>
                                            </div>

                                            <div class="form-group">
                                                <label for="username">Username</label>
                                                <input style="text-align:center; font-size:12px;" type="text" class="form-control" name="username" id="username" placeholder="joderamos" ng-model="user.username" ng-minlength="5" ng-maxlength="12" required/>
                                                <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
                                                <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                                            </div>

                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input style="text-align:center;font-size:12px;" type="email" class="form-control" name="email" id="email" placeholder="joderamos@up.edu.ph" ng-model="user.email" required/> 
                                                <p ng-show="userForm.email.$invalid" class="help-block">Enter a valid email.</p>                
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label for="password">Password</label>
                                                <input style="text-align:center;font-size:12px;" type="password" class="form-control" name="password" id="password" placeholder="Password" required/>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label for="confirm_password">Confirm Password</label>
                                                <input style="text-align:center;font-size:12px;" type="password" class="form-control" name="" id="confirm_password" placeholder="Confirm Password" required/>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onClick="">Register</button>
                              </div>
                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                        <!--/.MODAL FOR SIGN UP -->

                   </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>
            <!--First columnn-->
			</div>
		</div>
	</div>
